@model FitzRepresentacoes.DTOs.ClienteDTO
<script type="module" src="~/js/Cliente/Cliente.js" asp-append-version="true" defer></script>
<h2>Clientes</h2>
<hr />
<div class="mb-1 d-flex justify-content-between align-items-start">
    <a id="filtro" class="btn btn-primary mt-4">Pesquisa</a>
    <a href="/Cliente/Cadastrar" class="btn btn-success ms-3 mt-4">Cadastrar Cliente</a>
</div>
<div id="table"></div>
<partial name="ModalPesquisaCLiente.cshtml" />