@model FitzRepresentacoes.DTOs.UsuarioDTO

<div class="login">
    <form id="formLogin">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control col-5" asp-for="Email" aria-describedby="login">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" asp-for="Password">
        </div>
        <a asp-controller="Usuario" asp-action="CadastroUsuario">Criar Conta</a>
        <button type="button" class="btn btn-primary" onclick="Authentiar()">Entrar</button>
    </form>
</div>